* {
  background-color: #1f2937;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.header-links {
  display: flex;
  justify-content: flex-end;
}
.header-link {
  font-size: 18px;
  color: #f9faf8;
  padding: 0 10px;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
}
.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
.call-container {
  background-color: #3882f6;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
}
.button {
  color: #3882f6;
}
